{% block content %}
{% if validlink %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Megh Mistry">
    <title>Password Reset Form.</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Megaman222111/standup-css/sign-up.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous" rel="stylesheet">
    <style>
    </style>
  </head>
  
  <body class="center">
    <main class="form-signin">
      <div class="border border-dark">
      <form class="pure-form pure-form-aligned" method="POST" action=".">
        {% csrf_token %}
        <section>
          <fieldset>
            <img class="mb-4" src="https://raw.githubusercontent.com/Megaman222111/standup-css/main/LogoWhite.png" alt="" >
            <h3 class="h3">Reset your password.</h3><br>
            <p>Please enter your new password twice:</p><br><br>
            <label for="stacked-password" class="h6">Password</label>
            <span id="stacked-password" placeholder="Password">{{ form.new_password1 }}</span><br><br>
            <label for="stacked-confirm-password" class="h6">Confirm Password</label>
            <span type="password" id="stacked-confirm-password" placeholder="Confirm Password">{{ form.new_password2 }}</span><br><br>
            <label for="stacked-remember" class="pure-checkbox">
              <button type="submit" id="button1" class="pure-button btn-primary text-white">Change My Password</button><br><br>
              {{form.errors}}
            </fieldset>
          </form>
        </section>
      </div>
      </main>
    </body>
</html>

{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Megh Mistry">
    <title>Password Reset Form.</title>

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Megaman222111/standup-css/sign-up.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous" rel="stylesheet">
    <style>
    </style>
</head>

<body class="center text-center">
    <main class="form-signin">
      <div class="border border-dark">
      <form class="pure-form pure-form-aligned" method="POST" action=".">
        {% csrf_token %}
        <section>
          <fieldset>
            <img class="mb-4" src="https://raw.githubusercontent.com/Megaman222111/standup-css/main/LogoWhite.png" alt="" >
            <h3 class="h3">Reset your password.</h3><br>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            </fieldset>
          </form>
        </section>
      </div>
      </main>
    </body>
{% endif %}
{% endblock %}