<!DOCTYPE HTML>
{% block title %}
{% endblock %}
<html>
    <head>
        <title>Password Reset.</title>
    </head>
    <body class="center"><main class="form-signin">
        {% block content %}
        <div class="border border-dark">
        <form class="pure-form pure-form-aligned" method="POST" action=".">
          {% csrf_token %}
          <section>
            <fieldset>
              <h2 class="h2">Stand-Up.</h2><br><br>
              <h4 class="h4">Forgotten your password?</h4><br>
              <p>Enter your e-mail address to obtain a new password.</p>
              <label for="stacked-email" class="h6">Email</label>
            <div id="stacked-email" placeholder="Email">{{form.email}}</div><br><br>
                <button type="submit" id="button1" class="pure-button btn-primary text-white">Send me a link</button><br><br>
                {{form.errors}}
                <br><br>
                <p class="pure-form-message"><a href="{% url "signup" %}">Don't have an account?</a></p>
                <p class="pure-form-message"><a href="{% url "signup" %}">Need to login?</a></p>
                <p class="pure-form-message"><a href="{% url "home" %}">Go Back To Dashboard</a></p>
              </fieldset>
            </form>
          </section>
        </div>
        </main>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Megaman222111/standup-css/login.css" crossorigin="anonymous" rel="stylesheet">
{% endblock %}
</body>
</html>