<!DOCTYPE HTML>
{% block title %}
{% endblock %}
<html>
    <head>
        <title>Error 404</title>
    </head>
    <body class="center text-center"><main class="form-signin">
        {% block content %}
        <div class="border border-dark">
        <form class="pure-form pure-form-aligned" method="POST" action=".">
          {% csrf_token %}
          <section>
            <fieldset>
              <img class="mb-4" src="https://raw.githubusercontent.com/Megaman222111/standup-css/main/LogoWhite.png" alt="" >
              <h1>Page Not Found (Error 404)</h1>
              <p>The page/url that you currently tried to go to does not exist.</p>
              </fieldset>
            </form>
          </section>
        </div>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Megaman222111/standup-css/login.css" crossorigin="anonymous" rel="stylesheet">
{% endblock %}
</body>
</html>